<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatFoodServlet</servlet-name>
        <servlet-class>controller.CatFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatProfileServlet</servlet-name>
        <servlet-class>controller.CatProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustBookingServlet</servlet-name>
        <servlet-class>controller.CustBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustMenuServlet</servlet-name>
        <servlet-class>controller.CustMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <servlet-class>controller.DeleteFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFoodServlet</servlet-name>
        <servlet-class>controller.EditFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>controller.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffBookingServlet</servlet-name>
        <servlet-class>controller.StaffBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffMenuServlet</servlet-name>
        <servlet-class>controller.StaffMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <servlet-class>controller.UpdateFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCatProfileServlet</servlet-name>
        <servlet-class>controller.EditCatProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>controller.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffServlet</servlet-name>
        <servlet-class>controller.ManageStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSpecialAccessServlet</servlet-name>
        <servlet-class>ManageSpecialAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerStaffServlet</servlet-name>
        <servlet-class>controller.registerStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>controller.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatFoodServlet</servlet-name>
        <url-pattern>/CatFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatProfileServlet</servlet-name>
        <url-pattern>/CatProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustBookingServlet</servlet-name>
        <url-pattern>/CustBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustMenuServlet</servlet-name>
        <url-pattern>/CustMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <url-pattern>/DeleteFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFoodServlet</servlet-name>
        <url-pattern>/EditFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/HomepageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffBookingServlet</servlet-name>
        <url-pattern>/StaffBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffMenuServlet</servlet-name>
        <url-pattern>/StaffMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <url-pattern>/UpdateFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCatProfileServlet</servlet-name>
        <url-pattern>/EditCatProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffServlet</servlet-name>
        <url-pattern>/ManageStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSpecialAccessServlet</servlet-name>
        <url-pattern>/ManageSpecialAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerStaffServlet</servlet-name>
        <url-pattern>/registerStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
